{% extends "base.html" %}

{% block title %}{% endblock %}

{% block content %}
<div class="container">
    <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="card" style="width: 18rem;">
                    <img src="./static/vault.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Vault1</h5>
                            <p class="card-text">Your most secret and private projects, kept in vaults only you can access.</p>
                            <a href="/my-vaults" class="btn btn-primary">Enter</a>
                        </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="card" style="width: 18rem;">
                    <img src="./static/vault.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Vault2</h5>
                            <p class="card-text">Your most secret and private projects, kept in vaults only you can access.</p>
                            <a href="/my-vaults" class="btn btn-primary">Enter</a>
                        </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="card" style="width: 18rem;">
                    <img src="./static/vault.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Vault3</h5>
                            <p class="card-text">Your most secret and private projects, kept in vaults only you can access.</p>
                            <a href="/my-vaults" class="btn btn-primary">Enter</a>
                        </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

{% endblock %}