{% extends "base.html" %}

{% block title %}{% endblock %}

{% block content %}
<div class="container text-center">
    <form id="newvault" method="POST">
        <h2>Create a new vault</h2>

        <div class="input-group mb-3">
            <span class="input-group-text">User</span>
            <input id="user" type="text" class="form-control" placeholder="{{user}}" aria-label="user"
                   aria-describedby="basic-addon1" disabled>
        </div>


        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Title</span>
            <input name="title" type="text" class="form-control" placeholder="Name your vault" aria-label="title" aria-describedby="basic-addon1">
        </div>

        <div class="input-group">
            <span class="input-group-text">Description</span>
            <textarea name="description" class="form-control" aria-label="With textarea"></textarea>
        </div>
        {% if not type %}
        <div class="container">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="private" id="private" value="isprivate">
                <label class="form-check-label" for="private">Private</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="shared" id="shared" value="isshared">
                <label class="form-check-label" for="shared">Shared</label>
            </div>
        </div>
        {% endif %}
    </form>
    <h3 style="color: red">{{errortext | default('')}}</h3>
    <button type="submit" class="btn btn-primary mt-4" form="newvault">Create</button>
</div>

{% endblock %}