{% extends "base.html" %}

{% block title %}{% endblock %}

{% block content %}
<div class="container justify-content-center">
    <h1>{{ user }}'s {{type}} vaults</h1>
    <div id="vaultscarousel" class="carousel slide">
        <div class="carousel-inner">
            {% for vault in vaults %}
            <div class="carousel-item {% if loop.first %}active{% endif %}">
                <div class="d-flex justify-content-center">
                    <div class="card" style="width: 18rem;">
                        <img src="/static/vault.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-center">{{ vault.name }}</h5>
                            <p class="card-text text-center">{{vault.description}}</p>
                            <div class="d-grid gap-2"><a
                                    href="/{{ type }}-vaults/{{vault.name}}"
                                    class="btn btn-primary">Enter</a></div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <div id="new" class="carousel-item {% if not vaults %}active{% endif %}">
                <div class="d-flex justify-content-center">
                    <div class="card" style="width: 18rem;">
                        <img src="/static/vault.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-center">New Vault</h5>
                            <p class="card-text text-center">
                                Create a space to safekeep your ideas about an exciting new project</p>
                            <div class="d-grid gap-2"><a
                                    href="/{{ type }}-vault/new"
                                    class="btn btn-primary">Create</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#vaultscarousel" data-bs-slide="prev">
            <img src="/static/arrow-left.png" width="30%">
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#vaultscarousel" data-bs-slide="next">
            <img src="/static/arrow-right.png" width="30%">
        </button>
    </div>
    <div class="container d-flex justify-content-end">
        <!--<button class="button" data-bs-target="#vaultscarousel"
        data-bs-slide-to="{{vaults.length}}">Create new vault</button>
    --></div>
</div>
{% endblock %}