{% extends "base.html" %}

{% block title %}{% endblock %}

{% block content %}
<div class="container justify-content-center">
    <div class="row align-items-start">
        <div class="col"><h1>{{ user }}'s {{type}} vaults</h1></div>
        {% if type == "shared" %}
        <div class="col" style="text-align: right"><a class="btn btn-success"
                   data-bs-toggle="modal" data-bs-target="#enterKeyModal">Join a vault</a></div>
        {% endif %}
    </div>
    <div id="vaultscarousel" class="carousel slide">

        <div class="carousel-inner">
            {% for vault in vaults %}
            <div class="carousel-item {% if loop.first %}active{% endif %}">
                <div class="d-flex justify-content-center">
                    <div class="card" style="width: 18rem;">
                        <img src="/static/vault.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-center">{{ vault.title }}</h5>
                            <p class="card-text text-center">{{vault.description}}</p>
                            {% if type == 'shared'%}
                            <hr>
                            <p class="card-text text-center">Owner: {{vault.owner}}</p>
                            {% endif %}
                            <div class="d-grid gap-2"><a
                                    href="/{{ type }}-vaults/{{vault.title}}"
                                    class="btn btn-primary">Enter</a></div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% if not vaults %}
            <div id="new" class="carousel-item {% if not vaults %}active{% endif %}">
                <div class="d-flex justify-content-center">
                    <div class="card" style="width: 18rem;">
                        <img src="/static/vault.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-center">New Vault</h5>
                            <p class="card-text text-center">
                                Create a cozy space to safekeep your ideas about an exciting new project</p>
                            <div class="d-grid gap-2"><a
                                    href="/new-vault/{{type}}"
                                    class="btn btn-primary">Create</a></div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
        {% if vaults and vaults[1] %}
        <button class="carousel-control-prev" type="button" data-bs-target="#vaultscarousel" data-bs-slide="prev">
            <img src="/static/arrow-left.png" width="30%">
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#vaultscarousel" data-bs-slide="next">
            <img src="/static/arrow-right.png" width="30%">
        </button>
        <br><br><br>
        <div class="carousel-indicators">
            {% for vault in vaults %}
                <button type="button" data-bs-target="#vaultscarousel" data-bs-slide-to="{{loop.index0}}"
                        {% if loop.first %}class="active"{% endif %} aria-label="Slide {{loop.index}}"
                        style="background-color: #1e90ff"></button>
            {% endfor %}
        </div>
        {% endif %}

    </div>
    <div class="container d-flex justify-content-end">
        <!--<button class="button" data-bs-target="#vaultscarousel"
        data-bs-slide-to="{{vaults.length}}">Create new vault</button>
    --></div>
</div>

<div class="modal fade" id="enterKeyModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Join by key</h1>
                <button type="button" class="btn-close" id="closeEnterKey" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                <h4 id="keyInputLabel">Enter the key to the vault you wish to join:</h4>
                <input type="text" class="form-control text-center" id="keyInput">
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" id="sendKeyRequest">Send Request</button>
            </div>
        </div>
    </div>
</div>

<script id="joining-by-key">
const sendKeyButton = document.getElementById('sendKeyRequest');
const keyInput = document.getElementById('keyInput');
const label = document.getElementById('keyInputLabel');

function handleSendKeyRequest() {

    fetch('/send-key-request', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({
            key: keyInput.value, // Changed from textContent to value
            user: '{{user}}'
        })
    })
    .then(response => {
        if (response.status === 200) {
            keyInput.hidden = true;
            label.textContent = "Your request is now pending";
            sendKeyButton.textContent = "Send Another Request";
        } else if (response.status === 409) {
            label.textContent = "You entered an invalid key, check again";
        }
    })
    .catch(error => {
        console.log('Error:', error);
    });
}


sendKeyButton.addEventListener('click', () =>
    {
    if (sendKeyButton.textContent == "Send Request") { handleSendKeyRequest(); }
    else {
    sendKeyButton.textContent = "Send Request";
    keyInput.hidden = false;
    keyInput.value = "";
    label.textContent = "Enter the key to the vault you wish to join:";
    }
    });
</script>

{% endblock %}